.big{
    /* background-color: yellow; */
    width: 34%;
    margin-left: 33%;  
    margin-top: 150px;
    
}


.tasks{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
}

.lists{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color:grey    
}

.symbol{
    display:flex;
    justify-content: flex-end;
    /* background-color: royalblue; */
}

#add{
    color: orangered;
    /* background-color: hotpink; */
    margin-top: 20px;
    font-size: 25px;
}



.top{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}


.bottom{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 26%;
    height: 250px;
    /* background-color: grey; */
    border: solid 1px orangered;
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 	
    rgb(169,169,169,0.8);
    position:relative;
 
}


.A1{
    padding: 5px 5px 2px 5px;
    text-align: center;
    color: rgb(245, 157, 125);
    font-family: 'Montserrat', sans-serif;

    
}
.A2{
    margin: 0 0 0 15%;
    color: grey;
}

.A3{
    text-align: center;
    color: orangered;   
    margin-left: 20%; 
    text-decoration: line-through;
}


.A4{
    color: rgb(78, 78, 78);
}